<!--NEW CODE-->
{% extends "base.html" %}

{% block title %}Milestones{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">SAVINGS GOALS / MILESTONES</h2>

    <ul class="timeline">
        <!-- Milestone 1 -->
        <li class="timeline-item bg-primary rounded p-4 shadow text-white mb-4">
            <h2 class="h5 mb-0">MILESTONE 1: £100</h2>
            <span class="small text-light"><i class="fa fa-clock-o mr-1"></i>21 March, 2020</span>
            <p class="text-small mt-2">Successfully save up a total of £100.</p>
        </li>
        
        <!-- Milestone 2 -->
        <li class="timeline-item bg-primary rounded p-4 shadow text-white mb-4">
            <h2 class="h5 mb-0">MILESTONE 2: £1000</h2>
            <span class="small text-light"><i class="fa fa-clock-o mr-1"></i>5 April, 2021</span>
            <p class="text-small mt-2">Successfully save up a total of £1000.</p>
        </li>

        <!-- Milestone 3 -->
        <li class="timeline-item bg-light rounded p-4 shadow text-dark mb-4">
            <h2 class="h5 mb-0">MILESTONE 3: £50,000</h2>
            <span class="small text-muted"><i class="fa fa-clock-o mr-1"></i>18 August, 2022</span>
            <p class="text-small mt-2">Successfully saved up a total of £50,000.</p>
        </li>

        <!-- Milestone 4 -->
        <li class="timeline-item bg-light rounded p-4 shadow text-dark mb-4">
            <h2 class="h5 mb-0">MILESTONE 4: £1,000,000,000</h2>
            <span class="small text-muted"><i class="fa fa-clock-o mr-1"></i>10 October, 2030</span>
            <p class="text-small mt-2">Hold it there, Jeff Bezos! You've successfully saved up a total of an insane £1,000,000,000.</p>
        </li>
    </ul>
</div>
{% endblock %}
